body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin-top: 300px;
    background-color: black;
    color: white;
    border: none;
    padding: 30px;
}

button :hover {
    background-color: rgb(red, green, blue);
}